/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48"><circle cx="12" cy="12" r="3" fill="%23483d8b" stroke="%23000" stroke-width="1.5"></circle></svg>') 12 12, auto;
}

/*https://www.svgbackgrounds.com/elements/custom-css-cursors/*/

:root {
    --badge-size: 45px;
    --badge-size-smaller: 25px;
}

html {
    height: 100%;
}

#title-container {
    position: absolute;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    z-index: 1000;
    width: 100%;
    gap: 0.5em;
    padding: 0.5em;
}

h1 {
    font-size: 2rem;
    color: #222;
}

h2 {
    font-size: 1.2rem;
    color: #555;
}


#map-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    background-color: #7fcdff;
}

#japan-map {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

path {
    fill: #fafafa;
    stroke: #222;
    stroke-width: 0.2;
}

#japan-map text {
    user-select: none;
    pointer-events: none;
    font-size: 0.5rem;
}


#tooltip {
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    display: none;
    background-color: #fafafa;
    border: 2px solid black;
    padding: 5px;
    margin: 0 auto;
    z-index: 1000;
    max-width: 100%;
    max-height: 80vh;
    opacity: 0.8;
    margin-left: 5px;
    margin-right: 5px;
}

#tooltip button.close {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#tooltip div.title {
    font-weight: bold;
    margin-bottom: 10px;
    padding-right: 25px;
}

#badge-container {
    position: absolute;
    bottom: 0dvh;
    left: 0;
    width: 100%;
    max-height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0.5em;
    pointer-events: auto;
}

#badges-list {
    display: flex;
    flex-wrap: nowrap;
    pointer-events: auto;
}

.badge {
    display: inline-block;
    text-align: center;
    margin: 0.5em;
    flex-shrink: 0;
}

.badge-text {
    font-size: 0.8rem;
    /* Adjust text size for small screens */
    user-select: none;
    font-weight: 600;
}



.highlight {
    fill: aqua !important;
}



.bg-1 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -2px -2px;
}

.bg-2 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -51px -2px;
}

.bg-3 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -2px -51px;
}

.bg-4 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -51px -51px;
}

.bg-5 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -100px -2px;
}

.bg-6 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -100px -51px;
}

.bg-7 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -2px -100px;
}

.bg-8 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -51px -100px;
}

.bg-9 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -100px -100px;
}

.bg-10 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -149px -2px;
}

.bg-11 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -149px -51px;
}

.bg-12 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -149px -100px;
}

.bg-13 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -2px -149px;
}

.bg-14 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -51px -149px;
}

.bg-15 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -100px -149px;
}

.bg-16 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -149px -149px;
}

.bg-17 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -198px -2px;
}

.bg-18 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -198px -51px;
}

.bg-19 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -198px -100px;
}

.bg-20 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -198px -149px;
}

.bg-21 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -2px -198px;
}

.bg-22 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -51px -198px;
}

.bg-23 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -100px -198px;
}

.bg-24 {
    width: var(--badge-size);
    height: var(--badge-size);
    background: url('css_sprites.png') -149px -198px;
}

@media (max-width: 600px) {

    h1 {
        font-size: 1rem;
        color: #222;
    }

    h2 {
        font-size: 0.5rem;
        color: #555;
    }

    #tooltip {
        max-width: 100%;
        max-height: 80%;
        font-size: 14px;
        padding: 10px;
        margin: 0 auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    #tooltip button.close {
        font-size: 16px;
    }

    #tooltip div.title {
        font-size: 16px;
    }

    .bg-1 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -1px -1px;
    }

    .bg-2 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -28px -1px;
    }

    .bg-3 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -1px -28px;
    }

    .bg-4 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -28px -28px;
    }

    .bg-5 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -55px -1px;
    }

    .bg-6 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -55px -28px;
    }

    .bg-7 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -1px -55px;
    }

    .bg-8 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -28px -55px;
    }

    .bg-9 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -55px -55px;
    }

    .bg-10 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -82px -1px;
    }

    .bg-11 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -82px -28px;
    }

    .bg-12 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -82px -55px;
    }

    .bg-13 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -1px -82px;
    }

    .bg-14 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -28px -82px;
    }

    .bg-15 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -55px -82px;
    }

    .bg-16 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -82px -82px;
    }

    .bg-17 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -109px -1px;
    }

    .bg-18 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -109px -28px;
    }

    .bg-19 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -109px -55px;
    }

    .bg-20 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -109px -82px;
    }

    .bg-21 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -1px -109px;
    }

    .bg-22 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -28px -109px;
    }

    .bg-23 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -55px -109px;
    }

    .bg-24 {
        width: var(--badge-size-smaller);
        height: var(--badge-size-smaller);
        background: url('css_sprites_small.png') -82px -109px;
    }

}