/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48"><circle cx="12" cy="12" r="3" fill="%23483d8b" stroke="%23000" stroke-width="1.5"></circle></svg>') 12 12, auto;
}

/*https://www.svgbackgrounds.com/elements/custom-css-cursors/*/


#title-container {
    position: absolute;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    z-index: 1000;
    width: 100%;
    gap: 0.5em;
    padding: 0.5em;
}

h1 {
    font-size: 2rem;
    color: #222;
}

h2 {
    font-size: 1.2rem;
    color: #555;
}


#map-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #7fcdff;
}

#japan-map {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

path {
    fill: #fafafa;
    stroke: #222;
    stroke-width: 0.2;
}

#japan-map text {
    user-select: none;
    pointer-events: none;
    font-size: 0.1rem;
}


#tooltip {
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    display: none;
    background-color: #fafafa;
    border: 2px solid black;
    padding: 5px;
    margin-left: 0.5em;
    z-index: 1000;
    max-width: 300px;
    max-height: 400px;
    opacity: 0.8;
}

#tooltip button.close {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#tooltip div.title {
    font-weight: bold;
    margin-bottom: 10px;
    padding-right: 25px;
}

#badge-container {
    position: absolute;
    bottom: 0svh;
    left: 0;
    width: 100%;
    max-height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0.5em;
    pointer-events: auto;
}

#badges-list {
    display: flex;
    flex-wrap: nowrap;
    pointer-events: auto;
}

.badge {
    display: inline-block;
    text-align: center;
    margin: 0.5em;
    flex-shrink: 0;
}

.badge-text {
    font-size: 0.8rem;
    /* Adjust text size for small screens */
    user-select: none;
    font-weight: 600;
}



.highlight {
    fill: aqua !important;
}



.bg-1 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -2px -2px;
}

.bg-2 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -51px -2px;
}

.bg-3 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -2px -51px;
}

.bg-4 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -51px -51px;
}

.bg-5 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -100px -2px;
}

.bg-6 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -100px -51px;
}

.bg-7 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -2px -100px;
}

.bg-8 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -51px -100px;
}

.bg-9 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -100px -100px;
}

.bg-10 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -149px -2px;
}

.bg-11 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -149px -51px;
}

.bg-12 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -149px -100px;
}

.bg-13 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -2px -149px;
}

.bg-14 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -51px -149px;
}

.bg-15 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -100px -149px;
}

.bg-16 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -149px -149px;
}

.bg-17 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -198px -2px;
}

.bg-18 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -198px -51px;
}

.bg-19 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -198px -100px;
}

.bg-20 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -198px -149px;
}

.bg-21 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -2px -198px;
}

.bg-22 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -51px -198px;
}

.bg-23 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -100px -198px;
}

.bg-24 {
    width: 45px;
    height: 45px;
    background: url('css_sprites.png') -149px -198px;
}